body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: large;
    font-weight: bold;
}

p{
    padding: 0 20vw;
}

h3{
    text-align: center;
    font-weight: bold;
}

.btn{
    background-color: #11999E;
    color: white;
    font-weight: bolder;
}

.btn:hover{
    background-color: #E4F9F5;
    color: black;
}

/*Navbar styling*/
.icon{
    height:15vh;
    width: 12vw;
}

/*Intro styling*/
.intro{
    text-align: center;
    margin-top: 2vh;
}

.first-header{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 3em;
    color: white;
    text-align: center !important;
    background-color: #11999E;
    padding: 15px;
}

/* Form styling */
.form-center{
    display:flex;
    justify-content: center;
}

.akan-form{
    background-color: #E4F9F5;
    padding: 2vw 4vw;
}

.btn-primary{
    width: 20vw;
}

.form-control{
    font-weight: bold;
}

/* Display section name */
.error  {
    color: #11999E;
    padding: 2px;
    text-align: left;
}

#display-name{
    font-family:'Dancing Script', cursive;
    text-align: center;
    color: #11999E;
    padding:32px;
    font-size: 4em !important;
    animation: 4s text-lineUp ease-in-out infinite;
    animation-delay: 4s;
}

@keyframes text-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
